html {
    scroll-behavior: smooth;
    /*scroll suave al apretar los links*/
    font-family: Helvetica, Verdana, Serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor .video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(30%);
}


.carrito{
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}


.tabla-productos{
    display: flex;
}

.tabla-productos > img{
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.tabla-cantidad > input{
    width: 40px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

.sin-fondo, .sin-fondo th, .sin-fondo td{
    background-color: rgba(252, 196, 228, 0.316) !important;
}

