html {
    scroll-behavior: smooth;
    /*scroll suave al apretar los links*/
    font-family: Helvetica, Verdana, Serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*tamaño de letra responsive*/
    font-size: clamp(1rem, 3vw, 2rem);

    background-image: url(imagenes/fondo-inicio.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    bottom: 0;
    height: 100%;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    padding: 0;
    right: 0;
    top: 0;
}

/*Header*/

.menu-header-nav {
    height: 9%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000000;
    position: absolute;
}

.menu-header-ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    top: 100%;
    height: 0;
    overflow: hidden;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3197ff9;
    position: absolute;
    transition: all .3s;
}

.menu-header-icono {
    cursor: pointer;
    top: 0.7rem;
    right: 1.5rem;
    position: absolute;
    z-index: 1;
}

#menu-header-icono-checkbox:checked+#menu-header-ul-id {
    height: 95vh;
}

#menu-header-icono-checkbox {
    display: none;
}

.menu-header-ul-item {
    padding: 1em;
}

.menu-header-ul a {
    color: #d9d1d1;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 400ms ease;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.91);
}

.menu-header-ul a:hover {
    color: #f5409b;
    text-shadow: 2px 2px 10px rgba(96, 6, 6, 0.97);
    transform: translateY(-10%);
}

.header .logo-header {
    cursor: pointer;
    top: 0.3rem;
    left: 0.6rem;
    position: absolute;
    z-index: 1;
    height: 80%;
    width: 10%;
}
.logo-header img{
    max-height: 100%; 
}

/*Main*/

main h1 {
    font-family: "Playwrite GB S", cursive, sans-serif;
    font-size: 3rem;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-shadow: 1px 3px 5px #000000;
    margin-bottom: 5%;
    color: #ffffff;
}

/*Icono-Carrito*/

.icono-carrito {
    position: fixed;
    bottom: 50px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    font-size: 50px;
    z-index: 1000;
}

.icono-carrito i{
    color: rgb(0, 208, 255);
    text-shadow: 5px 0px 10px #000000;
    transition: transform 400ms;
}

.icono-carrito i:hover{
    transform: scale(1.2);
    text-shadow: 2px 2px 10px rgba(96, 6, 6, 0.97),
    3px 2px 10px rgb(0, 0, 0);
}

.carrito-cantidad {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 15px;
    position: absolute;
    top: -10px;
    right: -10px;
}

/*Flechas de scrolleo*/

/*Flecha footer*/
.flecha-scrolleo-abajo{
    position: fixed;
    text-shadow: 3px 0px 10px #000000;
    z-index: 1000;
    top: 93%;
    right: 2%;
}
.flecha-scrolleo-abajo  i {
    color: #ff6302b4;
    transition: transform 400ms;
}

.flecha-scrolleo-abajo i:hover {
    transform: rotateY(180deg);
}

/*Flecha inicio*/
.flecha-scrolleo-arriba{
    position: fixed;
    text-shadow: 3px 0px 10px #000000;
    z-index: 1000;
    top: 83%;
    right: 2%;
}
.flecha-scrolleo-arriba  i {
    color: #ff6302b4;
    transition: transform 400ms;
}
.flecha-scrolleo-arriba i:hover {
    transform: rotateY(180deg);
}

/*contenedores de las sesiones*/
.contenedor {
    margin-left: 10%;
    margin-right: 10%;
    margin: 5%;
    padding: 10% 10%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*Gradiente*/
    background: -webkit-linear-gradient(rgb(26, 59, 142), rgb(0, 0, 0));
    background: -moz-linear-gradient(rgb(26, 59, 142), rgb(0, 0, 0));
    background: -o-linear-gradient(rgb(26, 59, 142), rgb(0, 0, 0));
    background: linear-gradient(#4025f445, rgba(0, 0, 0, 0.996));
}

/*Main - Inicio*/
.inicio {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inicio .parrafo-inicio {
    font-size: larger;
    color: #ff26cc;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicio .parrafo-inicio p {
    font-family: "Boogaloo", sans-serif;
    text-shadow: 1px 1px 1px #000000;
}

.inicio .parrafo-inicio button {
    font-size: .6em;
    font-weight: bold;
    padding: 10px 50px;
    margin-top: 15%;
    border-radius: 10px;
    border: thick;
    box-shadow: 2px 2px 12px black;
    background-color: rgb(50, 176, 204);
    color: whitesmoke;
    transition: all 400ms ease;
    /*efecto del hover, va a tardar 400ms y ease es para mas suave*/
    cursor: pointer;
}

.inicio .parrafo-inicio button:hover {
    color: rgb(0, 179, 255);
    text-shadow: 2px 2px 12px rgb(0, 0, 0);
    background-color: rgba(11, 100, 216, 0.268);
    transform: translateY(-3%);
}

.inicio .video-inicio {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    /* filter: blur(1px); */
    filter: brightness(50%);
}


/*Main - sobre-mi*/
.sobre-mi h1 {
    font-size: 2rem;
}

.sobre-mi .contenedor {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.sobre-mi-imagen {
    height: 100%;
    width: 100%;

    grid-column: 4/7;
    grid-row: 1/4;
}

.sobre-mi-articulo {
    margin: 0;
    padding: 0;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px -8px #00000084;
    color: #e699ed;
    border-radius: 10px;

    grid-column: 2/6;
    grid-row: 2/6;
}

/*Main - Galeria*/

/*ilustraciones*/
.galeria .contenedor {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.galeria h3 {
    margin: 20px 0;
    color: #fe6202;
    font-weight: bolder;
    font-size: 3rem;
    text-shadow: 2px 2px 1px #000000;
    border-radius: 50px;
}

.galeria .contenedor-ilustraciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    gap: 20px;
}

.galeria .tarjeta {
    position: relative;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border: 8px solid #fff;
    border-radius: 15px;
    max-width: 400px;
}

.galeria .tarjeta .img-tarjeta {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.galeria .tarjeta .link-tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #5a095b42;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    transition: 0.5s;
}

.galeria .tarjeta .link-tarjeta a {
    text-decoration: none;
    text-shadow: 2px 1px 1px #000000;
    color: #0cffd6;
    transition: all 400ms ease;
}

.galeria .tarjeta .link-tarjeta a:hover{
    color: #f5409b;
    text-shadow: 2px 2px 10px rgba(96, 6, 6, 0.97),
    3px 2px 10px rgb(0, 0, 0);
    
}

.tarjeta:hover .link-tarjeta {
    right: 0;
}

/*Animaciones*/

.galeria .grilla-animaciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
        'animacion3 animacion4 animacion5 '
        'animacion2 animacion2 animacion1 '
        'animacion6 animacion6 animacion6'
        'animacion7 animacion7 animacion7';
}

.grilla-animaciones>div {

    display: flex;
    align-items: center;
}

.grilla-animaciones video {
    max-width: 100%;
    margin-bottom: 5%;
    height: 90%;
}

.animacion1 {
    grid-area: animacion1;
}

.animacion2 {
    grid-area: animacion2;
}

.animacion3 {
    grid-area: animacion3;
}

.animacion4 {
    grid-area: animacion4;
}

.animacion5 {
    grid-area: animacion5;
}

.animacion6 {
    grid-area: animacion6;
}

.animacion7 {
    grid-area: animacion7;
}

/*Main - productos*/

.productos .contenedor {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.productos h3 {
    margin: 20px 0;
    color: #fe6202;
    font-weight: bolder;
    font-size: 3rem;
    text-shadow: 2px 2px 1px #000000;
    border-radius: 50px;
}

.productos .contenedor-producto1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    gap: 20px;
    
}

.productos .tarjeta {
    position: relative;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border: 8px solid #fff;
    border-radius: 15px;
    max-width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;

}
.productos .tarjeta h5 {
    position:absolute;
    color: #ff2386;
    text-shadow: 2px 2px 1px #000000;
}

.productos .tarjeta .img-tarjeta {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.productos .tarjeta .link-tarjeta {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 10%;
    bottom: 0;
    position: absolute;
    background: #00000042;
    border-radius: 10px;
    transition: 0.5s;
}

.productos .tarjeta .link-tarjeta a {
    text-decoration: none;
    text-shadow: 2px 1px 1px #000000;
    color: #0cffd6;
    transition: all 400ms ease;
    cursor: pointer;
}

.productos .tarjeta .link-tarjeta a:hover{
    color: #f5409b;
    text-shadow: 2px 2px 10px rgba(96, 6, 6, 0.97),
    3px 2px 10px rgb(0, 0, 0);
    transform: translateY(-5%);
}

.tarjeta:hover .link-tarjeta {
    display: flex;
} 



/*Main - reseñas*/
.reseñas h1 {
    font-size: 2rem;
}

.reseñas .contenedor {
    background-color: #000000c6;
}

.reseñas .grilla-comentarios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
        'item1 item2 item3 '
        'item4 item5 item6 '
        'item7 item7 item7';
}

.grilla-comentarios>div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    border: 2px solid #f57524;
    padding: 3%;
}

.grilla-comentarios>div h4 {
    font-size: medium;
    color: rgb(255, 150, 150);
}

.grilla-comentarios>div p {
    font-size: medium;
    color: rgb(229, 229, 229);
}

.grilla-comentarios .foto-perfil {
    height: auto;
    max-width: 100%;
    margin-bottom: 5%;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}


/*Main - contacto*/
.contacto {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacto>.contenedor {
    height: auto;
    max-width: 100%;
    margin-bottom: 5%;
}

.contacto .contenedor form {
    margin-top: 2%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 70%;
    border-radius: 10px;
}

.contacto p {
    color: #f57524;
    font-family: Roboto;
    font-weight: bold;
    text-shadow: 2px 2px 10px #00000090;
    margin: 2%;
}

.contacto input {
    width: 50%;
    padding: 12px;
    margin-bottom: 3%;
    border-radius: 30px;
    font-size: 15px;
}

.contacto textarea {
    resize: none;
    border-radius: 15px;
    max-width: 70%;
    width: 70%;
    height: 25%;
    font-size: 15px;
}

.contacto button {
    margin-top: 4%;
    margin-bottom: 15%;
    position: relative;
    background: #7e17a7;
    padding: 15px 10px;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    height: 50px;
    border: none;
    width: 120px;
    text-align: center;
}

.contacto button span {
    color: #fe6202;
    font-weight: bolder;
    font-size: larger;
    text-shadow: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 10px #00000090;
}

.contacto button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 110%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(80deg, #7e17a7, #ff00f7ab);
    transition: 0.4s;
}

.contacto button:hover::before {
    transform: scaleX(1);
}

/*Footer*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor-footer {
    background-color: #000000;
    width: 100%;
    height: 10%;
    
}

.footer .redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    list-style: none;
    align-items: center;
    margin-top: 5%;
    padding: 0 2%;
}

/*Medias Querys*/

/*Media header*/
@media (min-width: 1304px) {

    /* Barra de navegación */
    .menu-header-nav {
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.549);
        padding: 10px;
        position: fixed;
        z-index: 1000;
        /*para que las imagenes del body no se superpongan cuando scrolleo*/
    }

    /* Menú */
    .menu-header-ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        margin-left: 10%;
        padding: 10px 0;
        background-color: unset;
        position: relative;
        top: 5%;
    }

    /* Icono de hamburguesa */
    .menu-header-icono {
        display: none;
    }

    /* Enlaces */
    .menu-header-ul a {
        color: #d1d1d1;
        font-size: 1.5rem;
        padding: 0 10px;
    }

    /* Logo */
    .logo-header {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    /*Por si se mantiene el chk y se minimiza la ventana*/
    #menu-header-icono-checkbox:checked + #menu-header-ul-id {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        margin-left: 10%;
    }
}

/*Media Reseñas*/
@media (width <=1080px) {

    .reseñas .grilla-comentarios {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'item1'
            'item2 '
            'item3'
            'item4'
            'item5'
            'item6'
            'item7';
    }

    .item1 {
        grid-area: item1;
    }

    .item2 {
        grid-area: item2;
    }

    .item3 {
        grid-area: item3;
    }

    .item4 {
        grid-area: item4;
    }

    .item5 {
        grid-area: item5;
    }

    .item6 {
        grid-area: item6;
    }

    .item7 {
        grid-area: item7;
    }
}

/*media contacto*/
@media (width <=1330px) {
    .contacto .contenedor form {
        background: none;
        border: none;
        backdrop-filter: unset;
        width: 100%;
    }

    .contacto input {
        width: 80%;
        padding: 12px;
        margin-bottom: 3%;
        border-radius: 30px;
        font-size: 15px;
    }

    .contacto textarea {
        width: 80%;
        margin-bottom: 3%;
        border-radius: 20px;
        font-size: 15px;
    }
}

/*media Animaciones*/
@media (width <=1160px) {
    .galeria .grilla-animaciones {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        grid-template-areas:
            'animacion3 animacion4  '
            'animacion5 animacion1  '
            'animacion6 animacion6'
            'animacion7 animacion7 '
            'animacion2 animacion2 ';
    }

    .grilla-animaciones>div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .animacion1 {
        grid-area: animacion1;
    }

    .animacion2 {
        grid-area: animacion2;
    }

    .animacion3 {
        grid-area: animacion3;
    }

    .animacion4 {
        grid-area: animacion4;
    }

    .animacion5 {
        grid-area: animacion5;
    }

    .animacion6 {
        grid-area: animacion6;
    }

    .animacion7 {
        grid-area: animacion7;
    }
}

@media (width <=818px) {
    .galeria .grilla-animaciones {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        grid-template-areas:
            'animacion3'
            'animacion4'
            'animacion5'
            'animacion1'
            'animacion6'
            'animacion7'
            'animacion2';
    }

    .grilla-animaciones video {
        margin-bottom: 5px;
        height: 90%;
    }

    .animacion1 {
        grid-area: animacion1;
    }

    .animacion2 {
        grid-area: animacion2;
    }

    .animacion3 {
        grid-area: animacion3;
    }

    .animacion4 {
        grid-area: animacion4;
    }

    .animacion5 {
        grid-area: animacion5;
    }

    .animacion6 {
        grid-area: animacion6;
    }

    .animacion7 {
        grid-area: animacion7;
    }
}