html {
    scroll-behavior: smooth;
    /*scroll suave al apretar los links*/
    font-family: Helvetica, Verdana, Serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor{

    background: -webkit-linear-gradient(90deg, #f20089,#4ea8de,#80ffdb);
    background: -moz-linear-gradient(90deg, #f20089,#4ea8de,#80ffdb);
    background: -o-linear-gradient(90deg, #f20089,#4ea8de,#80ffdb);
    background: linear-gradient(90deg, #f20089,#4ea8de,#80ffdb);
}

.carrito{
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}


.tabla-productos{
    display: flex;
}

.tabla-productos > img{
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.tabla-cantidad > input{
    width: 40px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

.sin-fondo, .sin-fondo th, .sin-fondo td{
    background-color: rgba(252, 196, 228, 0.316) !important;
}

